{% extends 'base.html' %}
{% block title %}
    Home
{% endblock title %}
{% block body %}
    <div class="container mt-5">
        <h1>Hello</h1>
        <center>
            <img src="{{ url_for('static', filename='pushup.jpg')}}"
             alt="pushup image"
             height="200px">
        </center>
        <p class="fs-3">
            Welcome to your pushup logger <br> This website showcase basic CRUD functionalities and user authentication
        </p>
    </div>    
{% endblock body %}